html{
    background-color: rgb(202, 218, 218);
}
h1{
    color: rgb(167, 98, 34);
}
img{
    image-rendering: pixelated;
    filter: drop-shadow(0 0 5px blue);
    display: block; 
    margin-left: 15%; 
    margin-right: auto;
    margin-top: -20%;
}
li{
    color: rgb(9, 44, 41);
}
#thongke li{
    color: rgb(114, 85, 12);
}